---
---

@import "{{ site.theme }}";

.inner {
  width: 80%;
}

body {
  background: #d6d6c2;
  color: #4d4d4d;
}
pre {
  background: #595d56;
}
pre code{
  background-color: #595d56;
}
#container {
  background: none;
}

h3 {
  color: #283eb3;
}

h2 {
  color: #514885;
}

a {
  color: #813352;
}
